# Introducing IMDB Ratings

> [Yalim Demirkesen](github.com/demirkeseny)

In [1]:
# necessary libraries:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.corpus import wordnet
from ast import literal_eval

In [4]:
# uploading the data
movies = pd.read_csv('C:/Users/demir/Desktop/movie-recommender/data/movies_metadata.csv')

C:\Users\demir\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3018: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [6]:
movies = movies[movies['status'] == 'Released']

In [7]:
# since I don't need most of the columns, I drop them using drop()
movies.drop(['homepage','original_language','belongs_to_collection',
             'overview','spoken_languages','tagline','video', 'status',
             'poster_path','imdb_id','adult','runtime','runtime',
             'revenue','release_date','production_countries','production_companies',
             'budget'], 
             axis=1, inplace=True)

In [8]:
movies.head()

,genres,id,original_title,popularity,title,vote_average,vote_count
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story,21.9469,Toy Story,7.7,5415.0
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji,17.0155,Jumanji,6.9,2413.0
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men,11.7129,Grumpier Old Men,6.5,92.0
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale,3.85949,Waiting to Exhale,6.1,34.0
4,"[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II,8.38752,Father of the Bride Part II,5.7,173.0

In [9]:
movies.isnull().sum()

genres            0
id                0
original_title    0
popularity        0
title             0
vote_average      0
vote_count        0
dtype: int64

In [10]:
movies.dtypes

genres             object
id                 object
original_title     object
popularity         object
title              object
vote_average      float64
vote_count        float64
dtype: object

In [11]:
# since it may not stored as integers, I need to convert strings into integers
movies['popularity'] = pd.to_numeric(movies['popularity'])

In [12]:
movies.shape

(45014, 7)

In [13]:
# creating a list of all the genres stored in the dataframe
listt = []
some_lst=[]
for i in range(len(literal_eval(movies['genres'][0]))):
    some_lst.append(literal_eval(movies['genres'][0])[i]['name'])
listt.append(some_lst)
listt

[['Animation', 'Comedy', 'Family']]

In [14]:
# creating a dataframe including the genres of each movie
# since there might be multiple some additional columns will be created
df=pd.DataFrame(None)
for j in range(len(movies)):
           
    some_lst=[]
    same_lst=[]
    try:
        for i in range(len(literal_eval(movies['genres'][j]))):
            some_lst.append(literal_eval(movies['genres'][j])[i]['name'])
    except:
        pass
    same_lst.append(some_lst)
    df1 = pd.DataFrame(same_lst)
    df = pd.concat([df,df1])

In [15]:
df = df.reset_index(drop=True)

In [16]:
# concatination of the data frame created with the movie data frame
movies = pd.concat([movies, df], axis=1)

In [17]:
movies.drop(['genres'], axis=1, inplace=True)

In [18]:
movies.head()

,id,original_title,popularity,title,vote_average,vote_count,0,1,2,3,4,5,6,7
0,862,Toy Story,21.946943,Toy Story,7.7,5415.0,Animation,Comedy,Family,NaN,NaN,NaN,NaN,NaN
1,8844,Jumanji,17.015539,Jumanji,6.9,2413.0,Adventure,Fantasy,Family,NaN,NaN,NaN,NaN,NaN
2,15602,Grumpier Old Men,11.712900,Grumpier Old Men,6.5,92.0,Romance,Comedy,NaN,NaN,NaN,NaN,NaN,NaN
3,31357,Waiting to Exhale,3.859495,Waiting to Exhale,6.1,34.0,Comedy,Drama,Romance,NaN,NaN,NaN,NaN,NaN
4,11862,Father of the Bride Part II,8.387519,Father of the Bride Part II,5.7,173.0,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below is the rating system used by IMDB. This is very important method since all the movies that are rated 5 out of 5 are not the same. One might have got millions of ratings whereas one might be more limited in terms of number of votes. So this rating gives more importance to the movies that are rated more.

$$ (WR)=(v/(v+m))R+(m/(v+m))C $$

- R = average for the movie (mean)
- v = number of votes for the movie
- m = minimum votes required to be listed in the Top 50 (currently 1000)
- C = the mean vote across the whole report (currently 6.8)

In [19]:
C = movies['vote_average'].mean()

In [20]:
m = movies['vote_count'].quantile(0.95)

In [21]:
v = movies['vote_count']

In [22]:
R = movies['vote_average']

In [24]:
# we will get only the 0.95 quantile of the movies to make the analysis more smoother:
filtered = movies[movies['vote_count'] >= m]

In [25]:
filtered.head()

,id,original_title,popularity,title,vote_average,vote_count,0,1,2,3,4,5,6,7
0,862,Toy Story,21.946943,Toy Story,7.7,5415.0,Animation,Comedy,Family,NaN,NaN,NaN,NaN,NaN
1,8844,Jumanji,17.015539,Jumanji,6.9,2413.0,Adventure,Fantasy,Family,NaN,NaN,NaN,NaN,NaN
5,949,Heat,17.924927,Heat,7.7,1886.0,Action,Crime,Drama,Thriller,NaN,NaN,NaN,NaN
9,710,GoldenEye,14.686036,GoldenEye,6.6,1194.0,Adventure,Action,Thriller,NaN,NaN,NaN,NaN,NaN
15,524,Casino,10.137389,Casino,7.8,1343.0,Drama,Crime,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# created another column to indicate this evaluation
filtered['wr'] =  (v/(v+m) * R) + (m/(m+v) * C)

C:\Users\demir\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
# then this column is used to sort
filtered.sort_values(by=['wr'], inplace= True, ascending=False)

C:\Users\demir\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
filtered

,id,original_title,popularity,title,vote_average,vote_count,0,1,2,3,4,5,6,7,wr
314,278,The Shawshank Redemption,51.645403,The Shawshank Redemption,8.5,8358.0,Drama,Crime,NaN,NaN,NaN,NaN,NaN,NaN,8.356664
834,238,The Godfather,41.109264,The Godfather,8.5,6024.0,Drama,Crime,NaN,NaN,NaN,NaN,NaN,NaN,8.304895
12481,155,The Dark Knight,123.167259,The Dark Knight,8.3,12269.0,Drama,Action,Crime,Thriller,NaN,NaN,NaN,NaN,8.207678
2843,550,Fight Club,63.869599,Fight Club,8.3,9678.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.184033
292,680,Pulp Fiction,140.950236,Pulp Fiction,8.3,8670.0,Thriller,Crime,NaN,NaN,NaN,NaN,NaN,NaN,8.171199
351,13,Forrest Gump,48.307194,Forrest Gump,8.2,8147.0,Comedy,Drama,Romance,NaN,NaN,NaN,NaN,NaN,8.068459
522,424,Schindler's List,41.725123,Schindler's List,8.3,4436.0,Drama,History,War,NaN,NaN,NaN,NaN,NaN,8.059319
23673,244786,Whiplash,64.299990,Whiplash,8.3,4376.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.056319
5481,129,千と千尋の神隠し,41.048867,Spirited Away,8.3,3968.0,Fantasy,Adventure,Animation,Family,NaN,NaN,NaN,NaN,8.033756
15480,27205,Inception,29.108149,Inception,8.1,14075.0,Action,Thriller,Science Fiction,Mystery,Adventure,NaN,NaN,NaN,8.025207
1154,1891,The Empire Strikes Back,19.470959,The Empire Strikes Back,8.2,5998.0,Adventure,Action,Science Fiction,NaN,NaN,NaN,NaN,NaN,8.024539
2211,637,La vita è bella,39.394970,Life Is Beautiful,8.3,3643.0,Comedy,Drama,NaN,NaN,NaN,NaN,NaN,NaN,8.012555
18465,77338,Intouchables,16.086919,The Intouchables,8.2,5410.0,Drama,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,8.006898
22879,157336,Interstellar,32.213481,Interstellar,8.1,11187.0,Adventure,Drama,Science Fiction,NaN,NaN,NaN,NaN,NaN,8.006627
1178,240,The Godfather: Part II,36.629307,The Godfather: Part II,8.3,3418.0,Drama,Crime,NaN,NaN,NaN,NaN,NaN,NaN,7.995784
7000,122,The Lord of the Rings: The Return of the King,29.324358,The Lord of the Rings: The Return of the King,8.1,8226.0,Adventure,Fantasy,Action,NaN,NaN,NaN,NaN,NaN,7.974717
289,101,Léon,20.477329,Leon: The Professional,8.2,4293.0,Thriller,Crime,Drama,NaN,NaN,NaN,NaN,NaN,7.961309
1152,510,One Flew Over the Cuckoo's Nest,35.529554,One Flew Over the Cuckoo's Nest,8.3,3001.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.958899
3030,497,The Green Mile,19.966780,The Green Mile,8.2,4166.0,Fantasy,Drama,Crime,NaN,NaN,NaN,NaN,NaN,7.954726
256,11,Star Wars,42.149697,Star Wars,8.1,6778.0,Adventure,Action,Science Fiction,NaN,NaN,NaN,NaN,NaN,7.949578
46,807,Se7en,18.457430,Se7en,8.1,5915.0,Crime,Mystery,Thriller,NaN,NaN,NaN,NaN,NaN,7.929146
1170,769,GoodFellas,15.424092,GoodFellas,8.2,3211.0,Drama,Crime,NaN,NaN,NaN,NaN,NaN,NaN,7.890540
4863,120,The Lord of the Rings: The Fellowship of the Ring,32.070725,The Lord of the Rings: The Fellowship of the Ring,8.0,8892.0,Adventure,Fantasy,Action,NaN,NaN,NaN,NaN,NaN,7.888358
1176,539,Psycho,36.826309,Psycho,8.3,2405.0,Drama,Horror,Thriller,NaN,NaN,NaN,NaN,NaN,7.887401
2216,73,American History X,18.157166,American History X,8.2,3120.0,Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.882626
586,274,The Silence of the Lambs,4.307222,The Silence of the Lambs,8.1,4549.0,Crime,Drama,Thriller,NaN,NaN,NaN,NaN,NaN,7.882351
5814,121,The Lord of the Rings: The Two Towers,29.423537,The Lord of the Rings: The Two Towers,8.0,7641.0,Adventure,Fantasy,Action,NaN,NaN,NaN,NaN,NaN,7.871071
4099,77,Memento,15.450789,Memento,8.1,4168.0,Mystery,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,7.864348
1213,694,The Shining,19.611589,The Shining,8.1,3890.0,Horror,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,7.849213
1057,500,Reservoir Dogs,12.220340,Reservoir Dogs,8.1,3821.0,Crime,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,7.845150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17272,44912,Green Lantern,13.985631,Green Lantern,5.1,2551.0,Adventure,Action,Thriller,Science Fiction,NaN,NaN,NaN,NaN,5.176791
12284,440,Aliens vs Predator: Requiem,10.793324,Aliens vs Predator: Requiem,4.9,758.0,Fantasy,Action,Science Fiction,Thriller,Horror,NaN,NaN,NaN,5.165161
32891,263472,Knock Knock,11.898793,Knock Knock,4.9,880.0,Drama,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,5.140623
1436,9360,Anaconda,14.386089,Anaconda,4.8,624.0,Adventure,Horror,Thriller,NaN,NaN,NaN,NaN,NaN,5.139870
6019,9480,Daredevil,11.415558,Daredevil,5.0,1551.0,Fantasy,Action,Crime,Science Fiction,Thriller,NaN,NaN,NaN,5.137427
20598,122081,Spring Breakers,14.830235,Spring Breakers,5.0,1580.0,Drama,Crime,NaN,NaN,NaN,NaN,NaN,NaN,5.135453
12699,8645,The Happening,6.222290,The Happening,4.9,968.0,Thriller,Science Fiction,NaN,NaN,NaN,NaN,NaN,NaN,5.125567
16190,42684,Skyline,7.676017,Skyline,4.7,516.0,Science Fiction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.124263
11445,2486,Eragon,9.851133,Eragon,4.9,990.0,Fantasy,Action,Adventure,Family,NaN,NaN,NaN,NaN,5.122092
6417,12279,Spy Kids 3-D: Game Over,8.025145,Spy Kids 3-D: Game Over,4.7,525.0,Action,Adventure,Comedy,Family,Science Fiction,NaN,NaN,NaN,5.120300
24438,242512,Ouija,13.288564,Ouija,4.9,1006.0,Horror,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.119632
10010,11679,xXx: State of the Union,19.144611,xXx: State of the Union,4.7,565.0,Action,Adventure,Crime,Drama,Mystery,Thriller,NaN,NaN,5.103544
21018,82700,After Earth,10.747642,After Earth,5.0,2579.0,Science Fiction,Action,Adventure,NaN,NaN,NaN,NaN,NaN,5.090606
13803,17610,Year One,10.087637,Year One,4.6,538.0,Comedy,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,5.059600
42096,14564,Rings,24.535733,Rings,4.8,1075.0,Horror,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.038584
35220,329833,Zoolander 2,10.155109,Zoolander 2,4.7,814.0,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.023309
30556,47933,Independence Day: Resurgence,16.993841,Independence Day: Resurgence,4.9,2550.0,Action,Adventure,Science Fiction,NaN,NaN,NaN,NaN,NaN,5.006154
20791,4258,Scary Movie 5,14.272810,Scary Movie 5,4.6,813.0,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.958597
18609,71676,Ghost Rider: Spirit of Vengeance,9.421301,Ghost Rider: Spirit of Vengeance,4.7,1163.0,Action,Fantasy,Thriller,NaN,NaN,NaN,NaN,NaN,4.952847
15422,10196,The Last Airbender,9.544657,The Last Airbender,4.7,1180.0,Action,Adventure,Family,Fantasy,NaN,NaN,NaN,NaN,4.950190
23110,188207,The Legend of Hercules,6.599539,The Legend of Hercules,4.4,542.0,Action,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,4.947152
20314,87818,Movie 43,10.895427,Movie 43,4.5,816.0,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.892686
1486,1639,Speed 2: Cruise Control,11.268531,Speed 2: Cruise Control,4.1,439.0,Action,Adventure,Thriller,NaN,NaN,NaN,NaN,NaN,4.861276
7939,314,Catwoman,13.340272,Catwoman,4.2,833.0,Action,Crime,NaN,NaN,NaN,NaN,NaN,NaN,4.690873
18101,71880,Jack and Jill,6.620033,Jack and Jill,4.0,619.0,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.673136
21238,205321,Sharknado,4.928195,Sharknado,3.8,484.0,TV Movie,Horror,NaN,NaN,NaN,NaN,NaN,NaN,4.666711
26563,166424,Fantastic Four,17.246484,Fantastic Four,4.4,2322.0,Action,Adventure,Science Fiction,NaN,NaN,NaN,NaN,NaN,4.594323
28207,241251,The Boy Next Door,10.200398,The Boy Next Door,4.1,1034.0,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.553632
1491,415,Batman & Robin,17.038824,Batman & Robin,4.2,1447.0,Action,Crime,Fantasy,NaN,NaN,NaN,NaN,NaN,4.531011
13566,14164,Dragonball Evolution,8.876305,Dragonball Evolution,2.9,475.0,Action,Adventure,Fantasy,Science Fiction,Thriller,NaN,NaN,NaN,4.207194

In [32]:
# Top Drama movies:
drama = filtered[(filtered[0] == 'Drama') |
         (filtered[1] == 'Drama') |
         (filtered[2] == 'Drama') |
         (filtered[3] == 'Drama') |
         (filtered[4] == 'Drama') |
         (filtered[5] == 'Drama') |
         (filtered[6] == 'Drama') |
         (filtered[7] == 'Drama')][['title','wr']]

In [33]:
drama[drama['wr'] < 7.835528]

                                       title        wr
24860                     The Imitation Game  7.835528
359                            The Lion King  7.825177
49                        The Usual Suspects  7.812250
22841               The Grand Budapest Hotel  7.795044
11354                           The Prestige  7.789494
32144                                   Room  7.768688
1201                      Dead Poets Society  7.763345
22131                The Wolf of Wall Street  7.761535
30315                             Inside Out  7.760937
1161                            12 Angry Men  7.760290
13605                   Inglourious Basterds  7.758190
109                              Taxi Driver  7.746459
23675                              Gone Girl  7.745570
3456                               Gladiator  7.733816
1163                      A Clockwork Orange  7.730862
1919                     Saving Private Ryan  7.721382
10309            Dilwale Dulhania Le Jayenge  7.713868
20051                       Django Unchained  7.711136
40882                             La La Land  7.707494
5878                             City of God  7.706919
4135                                Scarface  7.698537
11316                           The Departed  7.696086
22168                                    Her  7.685569
536                             Blade Runner  7.666391
21878                       12 Years a Slave  7.663848
14825                         Shutter Island  7.663664
7208   Eternal Sunshine of the Spotless Mind  7.662216
2742                         American Beauty  7.642587
40251                             Your Name.  7.641326
5857                             The Pianist  7.641085
...                                      ...       ...
14425            The Twilight Saga: New Moon  5.603511
12828         The X Files: I Want to Believe  5.555757
21743                          Runner Runner  5.555022
22761                               Sabotage  5.554305
14823                            The Wolfman  5.554197
28671                            The Cobbler  5.554035
10971                               Poseidon  5.552517
9475                            The Ring Two  5.549998
18832                          Mirror Mirror  5.534176
23062                                   Noah  5.519047
28165                              Wild Card  5.488866
33361                             The Circle  5.467465
26556                                Ben-Hur  5.431333
2299                                 Rocky V  5.425970
32139                                   Love  5.409298
21099                         The Bling Ring  5.386339
6112                            Dreamcatcher  5.383455
6385                                    Hulk  5.370613
30185                                  Aloha  5.362578
39694                         47 Meters Down  5.332733
13172          The Day the Earth Stood Still  5.324199
23289                                Pompeii  5.307207
25836                               Blackhat  5.279291
12441                              10,000 BC  5.267272
27478                   Fifty Shades of Grey  5.249024
21848                          The Counselor  5.235205
11012                 My Super Ex-Girlfriend  5.205072
32891                            Knock Knock  5.140623
20598                        Spring Breakers  5.135453
10010                xXx: State of the Union  5.103544

[875 rows x 2 columns]

In [37]:
movies.to_csv('./data/movies.csv')